/* 
    此次CSS实现的视差效果为 bilibili 网站所学，
    原视频地址为：https://www.bilibili.com/video/av82079406
    仅为个人练习使用
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, "PingFang SC", "Microsoft Yahei", sans-serif
}

html {
    /* 需要隐藏最外层滚动条，使视差生效 */
    overflow: hidden;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    /* 开启3D空间，数值越小，3D效果越大 */
    perspective: 1px;
    /* 在3D空间进行transform */
    transform-style: preserve-3d;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;

    transform-style: inherit;
    height: 100vh;
}

header h1 {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1em 4em;
    font-size: 3em;
}

header::before {
    content: "";
    display: flex;
    background-image: url(bg.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    /* 核心 按Z轴向远处移动1px，大小会缩小1倍，使用 scale 放大到原图大小 */
    transform: translateZ(-1px) scale(2);
}

main {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #222f3e;
}

article {
    width: 90vw;
    max-width: 960px;
    padding: 6em 0;
    color: white;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0.075em;
    text-indent: 2em;
    line-height: 1.8em;
}

/* 屏幕适配 */
@media screen and (max-width:1024px) {
    header h1 {
        font-size: 2.5em;
        padding: 1em 1.5em;
    }
}

@media screen and (max-width:600px) {
    header h1 {
        font-size: 1.5em;
        padding: 1em 1em;
    }

    article {
        font-size: 1em;
    }
}