* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	overflow: hidden;
}

section {
	width: 100%;
	height: 100%;
	background: radial-gradient(#333, #000);
	position: absolute;
}
.container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.container div {
	position: absolute;
}

.container div:nth-child(1) {
	left: 3%;
	animation: animate 15s linear infinite;
}
.container div:nth-child(2) {
	left: 25%;
	animation: animate 20s linear -4s infinite;
}
.container div:nth-child(3) {
	left: 50%;
	animation: animate 15s linear -2s infinite;
}
.container div:nth-child(4) {
	left: 70%;
	animation: animate 24s linear infinite;
}
.container div:nth-child(5) {
	left: 80%;
	animation: animate 16s linear -4s infinite;
}
.container div:nth-child(6) {
	left: 83%;
	animation: animate 18s linear infinite;
}
.container div:nth-child(7) {
	left: 60%;
	animation: animate 19s linear -1s infinite;
}
.container div:nth-child(8) {
	left: 35%;
	animation: animate 22s linear infinite;
}
.container div:nth-child(9) {
	left: 20%;
	animation: animate 20s linear -1s infinite;
}
.container div:nth-child(10) {
	left: 15%;
	animation: animate 25s linear infinite;
}

@keyframes animate {
	0% {
		opacity: 0;
		top: -20%;
		transform: translateX(20px) rotate(0deg);
	}
	10% {
		opacity: 1;
	}
	20% {
		transform: translateX(-20px) rotate(45deg);
	}
	40% {
		transform: translateX(-20px) rotate(90deg);
	}
	60% {
		transform: translateX(-20px) rotate(135deg);
	}
	80% {
		transform: translateX(-20px) rotate(180deg);
	}
	100% {
		top: 110%;
		transform: translateX(-20px) rotate(225deg);
	}
}

.container2 {
	transform: scale(0.7) rotateX(180deg);
	filter: blur(2px);
}

h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 8em;
}
