* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body,
canvas {
	padding: 0;
	margin: 0;
	background-color: #f0f0f0;
}

.container .-tablet,
.container .-tablet-container,
.container .-canvas-wrapper {
	height: 100%;
}

.tablet-btns {
	position: absolute;
	bottom: 1em;
	right: 1em;
	background: #f0f0f0;
}
.tablet-btns .save-canvas-to-img,
.tablet-btns .clear-canvas {
	border-radius: 10px;
	padding: 8px 12px;
	transform: rotate(90deg);
	display: block;
	margin: 1em 0;
}
.tablet-btns .save-canvas-to-img {
	float: right;
}
